.InfoModal {
  position: absolute;
  background-color: #4c4f52;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28em;
  height: 34em;
  border: 1px solid #292f33;
  border-radius: 6px;
  box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.29);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.InfoModal hr {
  border-top: 1px solid #292f33;
  border-bottom: 0px;
}
.header-infomodal {
  margin: 0.5em 2em 0.5em 0.5em;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  justify-content: space-between;
}
img {
  height: 4em;
  width: 4em;
}
.hr-paragraph {
  border-top: 1px solid #292f33;
  border-bottom: 0px;
  margin-left: 2em;
  margin-right: 2em;
  grid-column: 1 / -1;
}
.InfoModal h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 24px;
}
.InfoModal h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
.InfoModal h5 {
  font-size: 21px;
  font-weight: 100;
}
.InfoModal p {
  font-weight: 100;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.CloseButton {
  float: right;
  margin-right: 4px;
}
.edges-info {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 0.5em;
  align-items: center;
}
.arrowImg {
  width: 4em;
  height: auto;
}
ul {
  overflow-y: auto;
  height: 27em;
  list-style-type: none;
  padding: 0;
  padding-left: 1em;
  margin: 1em;
}
li {
  width: max-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
}
