data-viz/src/components/settings-gears.svg
data-viz/src/components/operation.png
data-viz/public/power-plant-icon-18.png
data-viz/public/png-clipart-pizza-delivery-computer-icons-transport-transport-icon-truck-logo-thumbnail.png
